 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 h1{
            color: rgb(186, 86, 188);
            /* text-decoration: ; */
        }
.nav-bar{
    height: 120px;
    width: 100%;
background-color: #f9f9ff;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
}
a{
    text-decoration: none;
}
img{
    width: 130px;
}
.logo{
    display: flex;
    gap: 30px;
    
}
.navitem{
    display: flex;
    gap: 20px;
}
